/* フォント */
$Noto: 'Noto Sans JP';
//mac"遊ゴシック"、win"遊ゴシック体"
$yugothic: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
/* メインフォント */
$mainfont: $yugothic, "ヒラギノ角ゴ Pro W3", $Noto, "メイリオ", sans-serif;
